<footer class="site-footer">

  <div class="wrapper">

    <ul class="social-media-list">
      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}
      
      {% if site.gitlab_username %}
      <li>
        {% include icon-gitlab.html username=site.gitlab_username %}
      </li>
      {% endif %}

      {% if site.mastodon_username %}
      <li>
        {% include icon-mastodon.html username=site.mastodon_username %}
      </li>
      {% endif %}
      
      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}

      {% if site.email %}
      <li>
        {% include icon-email.html email=site.email %}
      </li>
      {% endif %}
    </ul>

  </div>

</footer>
