<footer class="site-footer">

  <div class="wrapper">

    <ul class="social-media-list">
      {% if site.github_username %}
      <li>
        <a href="https://github.com/{{ site.github_username }}"><span class="icon icon--github">{% include icon-github.svg %}</span></a>
      </li>
      {% endif %}
      
      {% if site.gitlab_username %}
      <li>
        <a href="https://gitlab.com/{{ site.gitlab_username }}"><span class="icon icon--gitlab">{% include icon-gitlab.svg %}</span></a>
      </li>
      {% endif %}

      {% if site.mastodon_username %}
      <li>
        <a rel="me" href="https://ruby.social/@{{ site.mastodon_username }}"><span class="icon icon--mastodon">{% include icon-mastodon.svg %}</span></a>
      </li>
      {% endif %}
      
      {% if site.twitter_username %}
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span></a>
      </li>
      {% endif %}

      {% if site.email %}
      <li>
        <a href="mailto:{{ site.email }}"><span class="icon icon--email">{% include icon-email.svg %}</span></a>
      </li>
      {% endif %}
    </ul>

  </div>

</footer>
