
/* ======================================================
   Generic
   ======================================================= */

*, input:focus {
  outline: none;
}

p.text {
  padding: 0 15px;
  line-height: 22px;
}

.about {
  text-align: center;
  line-height: 25px;
}

.prefs {
  left: 10px;
  width: 70px !important;
}

.photo {
  display: none;
  width:60px;
  height:60px;
}

.pick-file {
  display: none;
}
